<div class="container">
  <div class="row">
    <h1>Pokemon Generator!</h1>
  </div>
  <div class="data-area three offset-by-three columns">
    <button ng-click="newPokemon()">New Pokemon</button>
    <img ng-show="loading && !pokeImage && !pokeName" ng-src="../images/ripple.gif">
    <div ng-show="pokeImage && pokeName">
    <h2>{{ pokeName }}</h2>
    <img ng-src="{{pokeImage}}">
    </div>
  </div>
  <div class="data-area three columns">
  <button ng-click="newAbility()">New Ability</button>
  <img ng-show="abilityLoad && !ability" ng-src="../images/ripple.gif">
  <h2>{{ ability }}</h2>
  </div>
</div>